body {
	background-color: rgb(230,230,230);
	color: rgb(30,30,30);
	font-family: courier;
}
h1{
	color: green;
	font: Helvetica;
	font-weight: 100;
	letter-spacing: 8px
	font-size: 32px;
	text-transform: uppercase;

}